@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    background-color: #EAEDF2;
}

h3 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 12px;
}

p {
    margin-top: 20px;
}

main {
    padding: 80px 0;
    min-height: 100vh;
}

button {
    margin-top: 12px;
    margin-bottom: 24px;
}

.container {
    max-width: 420px;
    margin: 0 auto;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

form {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.select-size {
    padding: 4px;
}
.result {
    color: #0011ff;
}
.stuffing {
    display: flex;
    justify-content: space-between;
}
.components {
    display: flex;
    justify-content: center;
    gap: 20px
}